<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<center>Biblography</center>
		<p>Burgess, Melinda, Steven Stermer, and Stephen Burgess. “Sex, Lies, and Video Games: 	The Portrayal of Male and Female Characters on Video Game Covers.” Sex 	Roles. &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(2007): 419-433.</p>
		<p>“Damsel in Distress: Part 1- Tropes vs Women in Video Games.” YouTube video. 
	11:30- 12:14. posted by “feministfrequency”. March 7, 2013. 
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsphttps://www.youtube.com/watch?v=X6p5AZp7r_Q.</p>
		<p>“Female Armor Sucks.” YouTube video. posted by “College Humor.” August 10, 2011.
	https://www.youtube.com/watch?v=OTGh0EMmMC8.</p>
		<p>Ivory, James. “Still a Man's Game: Gender Representation in Online Reviews of Video 	Games.” Gender and Video Games. (2006): 103-114.</p>
		<p>National Association of Anorexia Nervosa and Associated Eating Disorders. “Eating 	Disorders Statistics.” Accessed October 11, 2014. <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsphttp://www.anad.org/get-information/about-eating-disorders/eating-disorders-statistics/</p>
		<p>Schleiner, Anne-Marie. “Does Lara Croft Wear Fake Polygons? Gender and Gender-Role 	Subversion in Computer Adventure Games.” Leonardo, Vol. 34, No. 3. (2001): 	<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp221-226.</p>
		<p>“Top 10 Female Protagonists in Video Games.” YouTube video. posted by 	“WatchMojo.com.” June 28, 2014.
	https://www.youtube.com/watch?v=kCLVrRFuvjY.</p>
		<a href="/">Main Article</a>
	</body>
</html>